header {
    display: block;
    background: white;
}
h1 {
    background: lightseagreen;
    color: white;
    height: 100px;
    width: 300px;
}
h2 {
    color: lightseagreen;
}
.left-box {
    width: 40%;
    float: left;
    background: white;
    padding: 30px;
    margin-left: 50px;
    margin-top: 125px;
}
.right-box {
    float: left;
    height: 250px;
    width: 40%;
}
body {
    background-image: url(https://images.blogthings.com/whatpatternisyourbrainquiz/pattern-2.jpg);
}